@model ProdutoViewModel

<a href="/Produto/index">Voltar</a>
<div class="text-center">
    <form method="post" asp-action="Save">
        Id:
        <input asp-for="Id" />
        Nome:
        <input asp-for="Nome" />
        <input type="submit" />
    </form>
</div>


